.container {
    width: 64rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

@media (min-width: $tablet_width) {
    .container {
        width: 76.8rem;
    }
}

@media (min-width: $desktop_width) {
    .container {
        width: 120rem;
    }
}

@media (max-width: $mobile_small_up_to) {
    .container {
        width: 100%;
    }
}