.obj-photo {
    height: 23.3rem;
    background-image: url(../img/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &__adr-name {
        position: relative;
        bottom: -16.2rem;
    }

    h1 {
        display: inline;
        background-color: white;
        vertical-align: bottom;
        box-decoration-break: clone;
        -webkit-box-decoration-break:clone;
        padding: 0 1rem;
    }


}

@media (min-width: $tablet_width) {
    .obj-photo {
        background-image: url(../img/bg-tablet.png);
        background-position: center;
    }
}


@media (min-width: $desktop_width) {
    .obj-photo {
        background-image: url(../img/bg-desktop.png);
        background-position: center;
    }
}
