@font-face {
  font-family: VidaPro;
  src: url(../font/Vida31pro/vida31pro.otf) format("opentype");
}

@font-face {
  font-family: VidaPro;
  src: url(../font/Vida33pro/vida33pro.otf) format("opentype");
  font-weight: bold;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'VidaPro';
    font-size: 1.6rem;
}

.link {
    color: $color_primary;
    text-decoration: none;
    font-size: 1.4rem;
}
