.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.u-t-bold {
    font-weight: bold;
}

.u-c-dark-grey {
    color: $text_dark_grey;
}

.u-c-grey {
    color: $text-grey;
}

.u-t-mid-up {
    font-size: 1.8rem;
}

.u-t-24 {
    font-size: 2.4rem;
}

.u-t-14 {
    font-size: 1.4rem;
}

.u-margin-bottom-4 {
    margin-bottom: 4rem;
}

.u-margin-bottom-2d4 {
    margin-bottom: 2.4rem;
}

.u-margin-bottom-1 {
    margin-bottom: 1rem;
}
