//Colors

$color_primary: #893b67;

$color_grey: #edeeee;

$notification_color: #fcfcfc;

$color_green: #c5e71b;

//Text colors

$text_black: black;
$text_lighten_black: #414141;
$text_light_black: #5a5a58;
$text_grey: #777b80;
$text_dark_grey: #565f66;
