.call-us {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 2.2rem;
    position: absolute;
    right: 7rem;
    top: 2.6rem;

    &--acitve {
        position: static;
        order: 9;
        font-size: 4rem;
        margin-left: 0;
    }

    &__phone-link {
        display: inline-block;
        width: 3.7rem;
        height: 3.7rem;
        border-radius: 50%;
        background: $color-primary url(../img/phone.png) no-repeat;
        background-position: center;
        margin-left: 1.5rem;
        position: relative;
        box-shadow: 0 0 0 .4rem white,
                    0 0 0 .5rem $color_primary,
                    0 0 0 .8rem white,
                    0 0 0 .9rem $color_primary;

        &::before {
            content: '';
            display: block;
            position: absolute;


        }
    }
}

@media (max-width: $mobile_small_up_to) {
    .call-us {
        p {
            display: none;
        }
        
        &--acitve {
            p {
                display: block;
                font-size: 2rem;
            }
        }
    }
}

@media (min-width: $desktop_width) {
    .call-us {
        position: static;
        order: 9;
        margin-right: 0;
    }
}
