.menu-button {
    width: 33px;
    height: 22px;
    border: none;
    background: none;
    border-top: 4px solid $color-primary;
    border-bottom: 4px solid $color-primary;
    position: absolute;
    right: 4rem;
    top: 3.5rem;

    &::before {
        content: '';
        position: absolute;
        display: block;

        width: 33px;
        height: 4px;
        background: $color_primary;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }
}

@media (min-width: 1280px) {
    .menu-button {
        display: none;
    }
}
