.sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    position: relative;
    
    &__mobile-expand {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #3B3A39;
        border-bottom: none;
        position: absolute;
        width: .5rem;
        height: .5rem;
        background: none;
        right: 1rem;
        top: 1rem;
        cursor: pointer;
    }
    
    &__menu {
        display: flex;
        flex-direction: column;
        border: 2px solid rgba($text_grey, 0.13);
        border-radius: 1.5rem;
        padding: .5rem 0;
        padding-left: 1rem;
//        height: 3.5rem;
        position: relative;
//        overflow: visible;
        
        &--expanded {
            
            
            .sidebar__menu-item {
                display: block;
                margin-bottom: 2rem;
                margin-top: 2rem;
            }
        }
    }

    &__menu-item {
        color: $color_primary;
        text-decoration: none;
//        margin-bottom: 4rem;
        max-width: 90%;
        display: none;
        
        &--active {
            order: -1;
            display: block;
        }
        
      &--notification {
        span {
                display: inline-block;
                font-size: 11px;
                color: white;
                background: $color_primary;
                width: 1.5rem;
                height: 1.5rem;
                text-align: center;
                border-radius: 50%;
                position: relative;
                top: -1rem;
                left: 0;
                padding-right: 1px;
                padding-top: 2px;
            }
        }
    }

    &__items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 3rem;
    }

    &__item {
        width: 46%;
        padding-right: 5rem;
        
        &:first-child {
            border-right: 1px solid rgba($text_grey, 0.13);
        }
        
      
    }

    &__adr-link {
        display: flex;
        justify-content: space-between;
    }

    &__goto {
        position: relative;

        &::after {
            position: absolute;
            content: '';
            display: block;
            width: 2rem;
            height: 2rem;
            background: url(../img/arrow.png) no-repeat;
            right: -2.5rem;
            top: 0;
        }
    }
}

@media (min-width: $desktop_width){
    .sidebar {
        width: 25.78125%;
        margin-right: 4rem;
        border-right: 1px solid rgba($text_grey, 0.13);
        padding-right: 2rem;
        
        &__mobile-expand {
            display: none;
        }
        
        &__menu {
            height: auto;
            border: none;
        }

        &__menu-item {
            color: $color_primary;
            display: block;
            margin-top: 2rem;
            margin-bottom: 2rem;
            &--active {
                order: 0;
                border-radius: 1rem;
                box-shadow: 0 0 0 1.1rem white,
                            0 0 0 1.2rem rgba($text_grey, 0.13);
            }
            
            &--notification {
                position: relative;
                span {
                    left: auto;
                    position: absolute;
                    top: -1.5rem;
                    right: -1rem;
                }
            }
        }

        &__items {
            flex-direction: column;
        }

         &__item {
             width: 100%;
             padding-right: 5rem;
             padding-top: 3rem;
             padding-bottom: 3rem;
             border-top: 1px solid rgba($text_grey, 0.13);
             border-right: none;
             margin-top: 1rem;


             &:first-child {
                border-right: none;
            }
        }
    }
}
